@using WebApplication1.Models
@model Tour

@{
    ViewBag.Title = "EditTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редагувати тур</h2>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            @Html.HiddenFor(m => m.Id)
            @Html.LabelFor(model => model.TourName, "Назва туру")
            <br />
            @Html.EditorFor(model => model.TourName)
            @Html.ValidationMessageFor(model => model.TourName)
            <br /><br />
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Country, "Країна")
            <br />
            @Html.DropDownListFor(m => m.Country,
                             new SelectList(Enum.GetValues(typeof(Countries))),
                             "Виберіть країну")
            @*@Html.EditorFor(model => model.Country)*@
            @Html.ValidationMessageFor(model => model.Country)
            <br /><br />
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Hotel, "Назва готелю")
            <br />
            @Html.EditorFor(model => model.Hotel)
            @Html.ValidationMessageFor(model => model.Hotel)
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.HotelStar, "Тип готелю")
            <br />
            @Html.DropDownListFor(m => m.HotelStar,
                    new SelectList(Enum.GetValues(typeof(Stars))),
                    "Виберіть тип")
            @Html.ValidationMessageFor(model => model.HotelStar)
            <br /><br />
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.MealType, "Тип харчування")
            <br />
            @Html.DropDownListFor(m => m.MealType,
                     new SelectList(Enum.GetValues(typeof(Meals))),
                     "Виберіть тип")
            @Html.ValidationMessageFor(model => model.MealType)
            <br /><br />
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.TransportType, "Вид транспорту")
            <br />
            @Html.DropDownListFor(m => m.TransportType,
                    new SelectList(Enum.GetValues(typeof(TransportTypes))),
                    "Виберіть тип транспорту")
            @Html.ValidationMessageFor(model => model.TransportType)
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Duration, "Тривалість")
            <br />
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
            <br /><br />
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Price, "Вартість")
            <br />
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
            <br /><br />
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.TOperator, "Туристичний оператор")
            <br />
            @Html.EditorFor(model => model.TOperator)
            @Html.ValidationMessageFor(model => model.TOperator)
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(model => model.DateOfBegin, "Дата початку")
            <br />
            @Html.EditorFor(model => model.DateOfBegin)
            @Html.ValidationMessageFor(model => model.DateOfBegin)
            <br /><br />
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.DateOfFinish, "Дата завершення")
            <br />
            @Html.EditorFor(model => model.DateOfFinish)
            @Html.ValidationMessageFor(model => model.DateOfFinish)
            <br /><br />
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.Link, "Лінк")
            <br />
            @Html.EditorFor(model => model.Link)
            @Html.ValidationMessageFor(model => model.Link)
            <br /><br />
        </div>
    </div>
</div>

<p><input type="submit" value="Відправити" /></p>
<br /><br />
<div>
    @Html.ActionLink("Назад до списку", "Tours")
</div>
