@model  IEnumerable<WebApplication1.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Замовлення </h2>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            Стан замовлення:
            <div>
                @Html.ActionLink("Прийняті", "AcceptedOrders")
            </div>
            <div>
                @Html.ActionLink("Опрацювання документів", "WorkWithDocOrders")
            </div>
            <div>
                @Html.ActionLink("Початок туру", "TripOrders")
            </div>
            <div>
                @Html.ActionLink("Завершені", "FinishedOrders")
            </div>
            <div>
                @Html.ActionLink("Відхилені", "RejectOrders")
            </div>
        </div>
        <div class="col-sm-4">
            Стан документів:
            <div>
                @Html.ActionLink("Зібрані", "GetDocOrders")
            </div>
            <div>
                @Html.ActionLink("Відправлені", "SentDocOrders")
            </div>
            <div>
                @Html.ActionLink("Отримані від ТО", "GetFromTODocOrders")
            </div>
            <div>
                @Html.ActionLink("Видані туристу", "GiveToTouristDocOrders")
            </div>
        </div>
        <div class="col-sm-4">
            Стан оплати:
            <div>
                @Html.ActionLink("Не оплачені", "DontPayedOrders")
            </div>
            <div>
                @Html.ActionLink("Передоплачені", "HalfPayedOrders")
            </div>
            <div>
                @Html.ActionLink("Оплачені", "FullPayedOrders")
            </div>
        </div>
    </div>
</div>


<table class="table">
    <tr class="header">
        <td><p>№ замовлення</p></td>
        <td><p>Назва туру</p></td>
        <td><p>Прізвище клієнта</p></td>
        <td><p>Ім'я клієнта</p></td>
        <td><p>Стан замовлення</p></td>
        <td><p>Стан оплати</p></td>
        <td><p>Оформлення документів</p></td>
        <td><p>Кількість людей</p></td>
        <td><p>Вартість</p></td>
        <td><p>Дата початку</p></td>
        <td></td>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HowManyPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBegin)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "EditOrder", new { id = item.Id }) |
                @Html.ActionLink("Видалити", "DeleteOrder", new { id = item.Id })

            </td>
        </tr>
    }

</table>
